@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Product";

    int currentPage = (int)ViewData["CurrentPage"];
    int totalPage = (int)ViewData["TotalPage"];
    string searchValue = (string)ViewData["SearchValue"];
    string searchTitle = (string)ViewData["SearchTitle"];
}
@using CellphoneStore.Models
@using System.Globalization
@model List<Product>

<div class="default-list col-md-12 col-12 col-sm-12">
    <div class="row">
        <div class="col-md-12 col-sm-12 block-header">
            <h1>Các sản phẩm từ @searchTitle</h1>
        </div>
        @if (Model.Any())
        {
            foreach (Product product in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <a href="/Details/ProductDetails/@product.Pid"><img src="@product.Image" class="img-responsive img-i" alt="@product.Name"></a>
                        </div>
                        <div class="item-price">
                            <h3>@product.Name</h3>
                            <p class="i-price">@product.Price.ToString("C",CultureInfo.CreateSpecificCulture("vn-VN")).Substring(1).Replace(",",".")đ</p>
                        </div>
                    </div>
                </div>
            };
        }
        else if (!Model.Any())
        {
            <div class="col-12" style="height: 500px;">
                <p>Không tìm thấy thiết bị nào</p>
            </div>
        }
    </div>

</div>
<div class="paging">
    @if (totalPage > 1)
    {
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item @(currentPage == 0 ? "disabled" : "")">
                    <a class="page-link" href="@(currentPage == totalPage ? "" : $"/Search/ProductByPrice/{searchValue}/{currentPage - 1}")" tabindex="-1"><i class="fa-solid fa-angles-left"></i></a>
                </li>
                @for (int i = 0; i < totalPage; i++)
                {
                    <li class="page-item @(currentPage == i ? "active" : "") ">
                        <a class="page-link" href="/Search/ProductByPrice/@searchValue/@i">@(i+1)</a>
                    </li>
                }
                <li class="page-item @(currentPage == totalPage - 1 ? "disabled" : "")">
                    <a class="page-link" href="@(currentPage == totalPage - 1 ? "" : $"/Search/ProductByPrice/{searchValue}/{currentPage + 1}")"><i class="fa-solid fa-angles-right"></i></a>
                </li>
            </ul>
        </nav>
    }
</div>

@section Styles{
<link rel="stylesheet" href="~/css/index.css">
}